@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height:100%;
    overflow: hidden;
    overflow-y: auto;

}


#heading-text
{
    text-align: center;
    padding: 0.625rem;
    font-size: 0.813rem;
    letter-spacing: 0.063rem;
    font-weight: 500;
    color: black;


}
.navbar{
    height: 6.375rem;
    background-color: #f3f2f2;
    color: RGBA(18, 18, 18, .62);
    display: flex;
    position: sticky;
    top:0;
    width: auto;
    overflow: hidden;
    z-index:1000;
    border-bottom: 1px solid #c9c7c7;
    gap: 1rem;
}



.logo{
    width: 15%;
    align-items: center;
    
    margin-left: 2.375rem;
    padding: 0.313rem;
}





.logo > img {
       height: 4.5em;
        margin-left: 4rem;
        padding-bottom: 0.60rem;
        cursor: pointer;
        margin-top: 8px;
       
}

.menu{
    margin-left: 10rem;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    
    
}

a{
    text-decoration: none;
    color: RGBA(18, 18, 18, 0.75);
}

.menu>ul  {
list-style: none;    
display: flex;
gap: 1.375rem;
text-align: center;
margin-top: 0.72rem;
font-size: 0.80rem;
font-family: 'Inter', sans-serif;
line-height: 2rem;
cursor: pointer;

}
ul span:hover {
    text-underline-offset: 0.102rem;
     text-decoration-line: underline;    
    }


#home{
     text-decoration-line: underline;    

}
#home:hover {
    text-underline-offset: 0.102rem;
    }



.bottom-fexed {

    position: fixed;
    bottom : 0;
    z-index: 1;
    width: 100%;
    border: 1px solid black;
    border-radius : 0.385rem;
    background-color: RGB(185, 0, 0);
    height: 8%;
    color: RGB(255, 255, 255);
    overflow:hidden;
    cursor: pointer;
    text-align: center;


}

.bottom-fexed:hover{
    outline: 1px  solid black;


}

.order-online {
    text-align: center;
    margin-top: 0.325rem;
    font-weight: bold;
    padding: 2px;

    
    
}

#chevron{
    font-size: 0.618rem;
}



.icons {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    align-items: center;
    cursor: pointer;
    width: 7rem;
    margin-left: 4rem;
}

.fa-regular:hover{
    font-size: 1.25rem;
}

.fa-solid:hover{
    font-size: 1.25rem;
}


.hero{
    margin: 0;
    padding: 0;
    width: auto;
    height: 90%;
    cursor: pointer;
}

.hero, img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90%;
}


/* sweets */

.sweets_container {
    background-color: rgb(243,243,243);
    width: auto;
    padding: 0rem 1.875rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
   
}



.sweets_container .sweets_container_first {
   
        display: flex;
        flex-direction: column;
        color: RGBA(18, 18, 18, 0.75);
        margin: 1.56rem 1.56rem;
        padding: 0.62rem 1.56rem 1.56rem 4rem;
        gap: 2rem;
        /* justify-content: space-between; */
        letter-spacing: 0.6px;
        
}

.sweets_container .sweets_container_first h4  {
    text-align: center;
    line-height: 0.75rem;

    
}
.sweets_container .sweets_container_first p  {
    text-align: center;
    line-height: 1.36rem;
    
}

.sweets_container_image {
    margin-top: 1rem;
    
}
#indian{
    width: 100%;
    height: 70%;
}

.sweets_container_second {
    display: flex;
    flex-direction: column;
    color: RGBA(18, 18, 18, 0.75);
    margin: 1.56rem 2rem;
    padding: 0.62rem 3rem 1rem 0.6rem;
    gap: 2rem;
    letter-spacing: 0.6px;
       
}

.sweets_container_second h4 {
    text-align: center;
    line-height: 0.75rem;
   
}
.sweets_container_second p {
    text-align: center;
    line-height: 1.36rem;
    
   }


   /* our products */




/* restaurents start */
.Restaurants_containers{
    width: auto;
    height:100%;
}
.Restaurant-1{
   
     display: flex;
    padding-left:3rem ;
    margin:  3rem 3rem;
    letter-spacing: 0.6px;
    font-weight: 300; 
    

}

.Restaurant-1> img{
     width: 50%;
     height: 100%;
     border-radius: 2%;
     margin-left: 2rem;
     padding-left: 4rem;
}

.Restaurant-1 .restaurent-content{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    letter-spacing: 0.6px;
    height: auto;
   

}

.restaurent-content>p{
   font-size: 1rem;
   line-height: 1.50rem;

}

.restaurent-content button{
    border: 1px solid red;
    border-radius: 0.7rem;
    height: 3rem;
    width: 10rem;
    background-color: #fff;
    font-size: 1rem;
    color: red;

}

.restaurent-content button:hover{
    outline: 1px solid red;
   

}

.products> h2{
	text-align: center;
	margin-bottom: 0.1rem;
    font-size: 1.65rem;

}


.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product-card{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 18.75rem;
	height: 18.75rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 1rem;
    border: 1px solid red;
}
.product-card, .product-title{
	font-size: 1rem;
    margin-top: 1rem;
}

.product-card>img {
	border-radius: 5%;
   
}

.product-card:hover img{
	scale:  1.1;
}

.product-card:hover {
	box-shadow: 5px 15px 25px #aa7070;
    
}

.product-card .product-title:hover {
	box-shadow: 5px 15px 25px #eeeeee;
    text-decoration: underline;
    
}



.product-card img {
	height: 13.75rem;
	margin: 0.1rem;
   transition: all 0.3s;
   

}

















.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 18.75rem;
	height: 18.75rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 1rem;
    border: 1px solid red;
}
.product .product-title, .product .product-price{
	font-size: 1rem;
    margin-top: 1rem;
}



.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #ec7979;
    
}

.product .product-title:hover {
	box-shadow: 5px 15px 25px #eeeeee;
    text-decoration: underline;
    
}



.product img {
	height: 220px;
	margin: 0.1rem;
   transition: all 0.3s;
   
}

.product-btn{
    border: 2px solid #d50707;
    background-color: #d50707;
    color: white;
    width: 7rem;
    /* height: 2rem; */
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    /* padding-top: 0.8rem; */
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 0.8rem;
}


.like-our-products-1{
    text-align: center;
    padding: 1rem 6rem;
    margin: 0rem 4rem;

}

h2, h3, p{
 font-weight: 300;
}

.like-our-products-1> h2{
   margin-bottom: 2rem;
   font-style: normal;
   font-weight: 400;

}

#order-button{
    border: 1px solid red;
    border-radius: 0.7rem;
    height: 3rem;
    width: 10rem;
    background-color: #fff;
    font-size: 1rem;
    color: red;
    margin-left: 27rem;
    margin-bottom: 2rem;
    
}

#order-button:hover{
    outline: 1px solid red;
    
}




/* footer start */
footer{
    width: 100%;
    height: 80vh;
    
    

}

.footer{
    background-color: #f3f2f2;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    /* margin-top: 20px; */
    padding: 1.25rem;
    width: 100%;
    cursor: pointer;
}

.footer-1{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
  
}
.footer-1> h2{
    font-size: 16px;
  
}

.footer-1 ul{
    list-style: none;
    font-size: 13px;
}

.footer-1 ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-1 ul li:hover{
    text-decoration: underline;
}
  
.contact-details{
    margin-top: 10px;
    margin-bottom: 10px;

}

.contact-details> p{
    font-size: 14px;
    line-height: 2rem;
    
}

.contact-details a:hover{
    text-decoration: underline;
    
}


.footer-1> p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-1 .footer-logo{
    height: 80px;
    margin-left: -10px;
     
}




#footer-logo-content{
    text-align: left;
}

.copyright{
    width: 100%;
    background-color: #f3f2f2;
    height: 10rem;

}

.copyright >p{
   margin-left: 3rem;
   padding-top: 2rem;
   font-size: 10px;

}

/* footer end */

.video{
    width:auto;
}

@media screen and (max-width: 750px) {
  
}
