@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height:100%;

}

html{
    overflow-x: hidden;
}

#heading-text
{
    text-align: center;
    padding: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    color: black;


}
.navbar{
    height: 6.375rem;
    background-color: #f3f2f2;
    color: RGBA(18, 18, 18, .62);
    display: flex;
    position: sticky;
    top:0;
    width: 110;
    overflow-x: hidden;
    z-index:1000;
    border-bottom: 1px solid #c9c7c7;
    gap: 10px;
}



.logo{
    width: 10%;
    align-items: center;
    display: flex;
    margin-left: 38px;
    padding: 5px;
}





.logo>img {
       height: 4.5em;
        margin-left: 4em;
        padding-bottom: 7px;
        cursor: pointer;
        margin-top: 8px;
       
}

.menu{
    margin-left: 10rem;
    margin-top: 6px;
    margin-bottom: 6px;
    
    
}

.menu ul {
list-style: none;    
display: flex;
gap: 30px;
text-align: center;
margin-top: 7px;
font-size: 14px;
font-family: 'Inter', sans-serif;
line-height: 2rem;
cursor: pointer;

}
ul span:hover {
    text-underline-offset: 3px;
     text-decoration-line: underline;    
    }


#home{
     text-decoration-line: underline;    

}
#home:hover {
    text-underline-offset: 3px;
    }



.bottom-fexed {

    position: fixed;
    bottom : 0;
    z-index: 1;
    width: 100%;
    border: 1px solid black;
    border-radius : 7px;
    background-color: RGB(185, 0, 0);
    height: 8%;
    color: RGB(255, 255, 255);
    overflow:hidden;
    cursor: pointer;
    text-align: center;


}

.bottom-fexed:hover{
    outline: 1px  solid black;


}

.order-online {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    padding: 2px;

    
    
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    align-items: center;
    cursor: pointer;
    width: 8rem;
    margin-left: 4rem;
}

.fa-regular:hover{
    font-size: 1.25rem;
}

.fa-solid:hover{
    font-size: 1.25rem;
}


.hero{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90%;
    cursor: pointer;
}

.hero img{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 90vh;
}


/* sweets */
.sweets_arrangment{
    background-color: #918c8c;
    height: 90%;
    width: 100vw;
    overflow-x: hidden;
    top:0;
   

}
.sweets_container {
    background-color: rgb(243,243,243);
    width: 100vw;
    padding: 0rem 1.875rem;
    /* margin: 0rem 2.25rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-between; */
    /* gap: 20px; */
    height: 80%;
   
}



.sweets_container .sweets_container_first {
   
        display: flex;
        flex-direction: column;
        color: RGBA(18, 18, 18, 0.75);
        margin: 1.56rem 1.56rem;
        padding: 0.62rem 1.56rem 1.56rem 4rem;
        gap: 2rem;
        /* justify-content: space-between; */
        letter-spacing: 0.6px;
        
}

.sweets_container .sweets_container_first h4  {
    text-align: center;
    
}
.sweets_container .sweets_container_first p  {
    text-align: center;
    
}

.sweets_container_image {
    margin-top: 1rem;
    
}
#indian{
    width: 100%;
    height: 70%;
}
/* .sweets_container_image>img {
    height: 78vh;
    
} */

.sweets_container_second {
    display: flex;
    flex-direction: column;
    color: RGBA(18, 18, 18, 0.75);
    margin: 1.56rem 2rem;
    padding: 0.62rem 3rem 1rem 0.6rem;
    gap: 2rem;
    /* justify-content: space-between; */
    letter-spacing: 0.6px;
       
}

.sweets_container_second h4 {
    text-align: center;
   
}
.sweets_container_second p {
    text-align: center;
    
   }












/* view sweets ends */
/* .child_div{
    margin: 50px 50px;

}

.first_iine_card{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 50%;
}

.second_iine_card{
    display: flex;
    justify-content: space-between;
} */

.product_home_cards{
    width:100%;
    height: 100%;
    padding: 3rem 6rem;
   
}

.product_home_cards .h2{
    width: 80%;
    padding-bottom: 3rem;
    font-family: inter, sans;
}

/* .cards-1{
    display: flex;
	justify-content: space-between;
    border-radius:10px;
    height: 300px;
    width: 240px;
    padding-bottom: 4rem;
    gap: 5rem;
	
    
} */


/* .cards-1{
    display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

*/

/* .card img {
	height: 100%;
	margin: 0.1rem;
   transition: all 0.3s;
}

.card:hover img{
	scale:  1.1;
}

.card:hover {
	box-shadow: 5px 15px 25px #eeeeee;
    
} */



/* restaurents start */
.Restaurants_containers{
    width: 100%;
    height:100%;
}
.Restaurant-1{
   
     display: flex;
    padding-left:3rem ;
    margin:  3rem 3rem;
    letter-spacing: 0.6px;
    font-weight: 400; 
    

}

.Restaurant-1 img{
     width: 50%;
     height: 100%;
     border-radius: 0.5rem;
     margin-left: 2rem;
     padding-left: 3rem;
}

.Restaurant-1 .restaurent-content{
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    letter-spacing: 0.6px;
    height: auto;
   

}

.restaurent-content button{
    border: 1px solid red;
    border-radius: 0.7rem;
    height: 3rem;
    width: 10rem;
    background-color: #fff;
    font-size: 1rem;
    color: red;

}

.restaurent-content button:hover{
    outline: 1px solid red;
   

}

.products h2{
	text-align: center;
	margin-bottom: 0.1rem;
	font-size: 1.65rem;
}


.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 300px;
	height: 300px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 1rem;
}
.product .product-title, .product .product-price{
	font-size: 13px;
    margin-top: 5px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
    
}

.product .product-title:hover {
	box-shadow: 5px 15px 25px #eeeeee;
    text-decoration: underline;
    
}



.product img {
	height: 230px;
	margin: 0.1rem;
   transition: all 0.3s;
}

.product-btn{
    border: 2px solid #d50707;
    background-color: #d50707;
    color: white;
    width: 7rem;
    /* height: 2rem; */
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    /* padding-top: 0.8rem; */
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 0.8rem;
}


.like-our-products-1{
    width: 100%;
    text-align: center;
    padding: 1rem 6rem;
    margin: 0rem 4rem;

}

h2, h3, p{
 font-weight: 300;
}

.like-our-products-1 h2{
   margin-bottom: 2rem;
   font-style: normal;
   font-weight: 300;

}

#order-button{
    border: 1px solid red;
    border-radius: 0.7rem;
    height: 3rem;
    width: 10rem;
    background-color: #fff;
    font-size: 1rem;
    color: red;
    margin-left: 40rem;
    margin-bottom: 2rem;
}

#order-button:hover{
    outline: 1px solid red;
    
}




/* footer start */
footer{
    width: 100%;
    height: 80vh;
    
    

}

.footer{
    background-color: #f3f2f2;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    margin-top: 20px;
    padding: 20px 20px;
    width: 100%;
}

.footer-1{
    width: 100%;
    margin: 1.25rem;
    padding: 2rem;
  
}
.footer-1 h2{
    font-size: 16px;
  
}

.footer-1 ul{
    list-style: none;
    font-size: 13px;
}

.footer-1 ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-1 ul li:hover{
    text-decoration: underline;
}
  
.contact-details{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.contact-details p{
    font-size: 14px;
    
}

.footer-1 p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-1 .footer-logo{
    height: 80px;
    margin-left: -10px;
     
}


.footer-1 .footer-logo{
    height: 80px;
    margin-left: -10px;
     
}

#footer-logo-content{
    text-align: left;
}

.copyright{
    width: 100%;
    height: 5rem;
    background-color: #f3f2f2;
    height: 10rem;

}

.copyright p{
   margin-left: 3rem;
   padding-top: 2rem;
   font-size: 10px;

}

/* footer end */



