*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body{
  
  width: 100%;
  
  
}
header{
background-image: url(header-image.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25rem;
  background-repeat: no-repeat;
  overflow: hidden;
  
}
/* .nav-sticky{
position: sticky;
} */


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
  position: sticky;
  top: 0;
  z-index: 2;
  height: 5rem;
  width: 100%;
}


.navbar img{
  padding: 10px 15px;
  margin-left: 6rem;


}



.navbar ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  /* position: sticky; */
  padding-right: 10px;
  
}
  

.navbar ul a{
  text-decoration-line: none;
  margin-right: 45px;
  color: #fff;
}

h3{
  text-align: center;
  margin-top: 12vh;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.navbar ul a:hover {
  color: #fe7a7b;
}



/* Modal styles */
.modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
justify-content: center;
align-items: center;
z-index: 1;
}

.modal-content {
background-color: #fff;
padding: 20px;
border-radius: 5px;
position: relative;
}

.close {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
}

/* Button styles */
.button {
display: inline-flex;
padding: 10px 20px;
background: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
color: #fff;
text-decoration: none;
border-radius: 5px;
margin: left 1rem;
margin-left: 45%;
margin-top: 50px;
margin-bottom: 50px;
}


.middle{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 200px; */
  /* margin-right: 100px; */
  margin-top: 3rem;
  width: 100%;
  height: 25rem;
  gap: 2rem;

  
  
}



/* .middle {
display: flex;
align-items: flex-start;
justify-content: space-between; 
} */

.middle-content {
/* padding-right: 80px;
margin-top: 90px; Adjust as needed for spacing */
/* margin-left: 50px; */
width: 40%;
display: flex;
flex-direction: column;
/* justify-content: center; */
height: 100%;
align-items: flex-start;
justify-content: flex-start;
padding-top: 2rem;
}


.middle-image {
height: 100%;
width: 50%;
display: flex;
align-items: flex-start;
justify-content: flex-start;
/* position: relative; */
/* margin-top: 120px; */
}

/* .middle-image #dots-image{
position: absolute;
height: max-content;
margin-left: 40%;
top: 100px;

} */

.middle-image #dots-image-2 {
/* position: absolute;
top: 0px;
right: 0px;
margin-block-end: 50%; */
height: 100%; 
width: 100%;
border-radius: 10px;
/* padding-left: 30%; */
/* margin-bottom: 70px; */
}


@keyframes bubbleAnimation {
0% {
  transform: translateY(0) scale(1);
  opacity: 0.8;
}
50% {
  transform: translateY(-100vh) scale(1.5);
  opacity: 0.4;
}
100% {
  transform: translateY(-150vh) scale(2);
  opacity: 0;
}

 
}

.bubble {
position: absolute;
width: 40px;
height: 60px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 50%;
animation: bubbleAnimation 60s infinite ease-in-out;
opacity: 0; /* Initially hidden */
}

/* Adjust bubble positions */
.bubble:nth-child(1) {
top: 40%;
left: 40%;
width: 20px;
height: 20px;
animation-delay: 0s;
}

.bubble:nth-child(2) {
top: 50%;
left: 70%;
width: 40px;
height: 40px;
animation-delay: 2s;
}

.bubble:nth-child(3) {

width: 50px;
height: 50px;
animation-delay: 2s;
}


/*footer */


footer {
background-image: url(footer-bg.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width:100%;
height: 120vh;
bottom: 0;



}
.footer-content{
display: flex;
text-align: left;
justify-content: space-between;
padding: 30rem 5rem 0rem 5rem;
color: #fff;
width: 100%; flex-wrap: wrap;


}

.footer-content h4{
font-weight: 600;
font-size: 24px;
margin-bottom: 2.4rem;
line-height: 0rem;

}

.footer-content, .footer-content * {
gap: 1rem;
color: #fff !important;

}

hr{
border: 1px solid #6A6972;
border-bottom: 0.5rem; 
/* margin-left: 5rem; */
width: 90%;


}

.footer-content a {
text-decoration: none;
color: #fff;
}


.footer-content ul {
list-style: none;
padding: 0;
color: #fff;

}


.footer-image {
text-align: left;
}

.footer-image img {
max-width: 100%; 
height: auto;
display: block;
margin: 0px; 
}


.copyright {
text-align: left;
margin-bottom: 3rem;
margin-inline-start: 80px;
color: #fff;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.copyright-text{
margin-top: 1.75rem;
}


.back-to-top {
font-size: 20px;
margin-left: auto;
right: 30px;
bottom: 10px;
width: 40px;
height: 40px;
background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
border-radius: 5px;
background-size: 200%;
  text-align: center;
  z-index: 99;
  align-items: center;
  justify-content: center;
  top: 2px
}


/* Media queries for responsive design */


@media  screen and (max-width: 426px) {

.navbar ul {
  display: none;

}

.button{
  text-align: center;
  margin-left: 90px;
}

.middle{
  height: auto;
flex-direction: column;
}

.middle-content{
  margin-left: 0;
  padding-right: 0;
  width: 95%;
}


.middle-image{
  width: 95%;
}
hr{
  margin-left: 0;
}

footer{
  height: auto;
}
}

/* html{
background: #000 !important;
color: #0f0 !important;
outline: solid #f00 1px !important;
border: solid #f00 1px !important;
} */




@media  screen and (max-width: 1024px) {



.button{
  text-align: center;
  margin-right: 40px;
}

.middle{
  height: auto;
flex-direction: column;
}

.middle-content{
  margin-left: 0;
  padding-right: 0;
  width: 95%;
}


.middle-image{
  width: 95%;
}
hr{
  margin-left: 0;
}

footer{
  height: auto;
}
}

/* html{
background: #000 !important;
color: #0f0 !important;
outline: solid #f00 1px !important;
border: solid #f00 1px !important;
} */

@media  screen and (max-width: 768px) {

.navbar ul {
  display: none;

}

.button{
  text-align: center;
  margin-right: 40px;
}

.middle{
  height: auto;
flex-direction: column;
}

.middle-content{
  margin-left: 0;
  padding-right: 0;
  width: 95%;
}


.middle-image{
  width: 95%;
}
hr{
  margin-left: 0;
}

footer{
  height: auto;
}
}

/* html{
background: #000 !important;
color: #0f0 !important;
outline: solid #f00 1px !important;
border: solid #f00 1px !important;
} */



