@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height:100%;
    overflow: hidden;
    overflow-y: auto;
}





#heading-text
{
    text-align: center;
    padding: 0.625rem;
    font-size: 0.813rem;
    letter-spacing: 0.063rem;
    font-weight: 500;
    color: black;


}
.navbar{
    height: 6.375rem;
    background-color: #f3f2f2;
    color: RGBA(18, 18, 18, .62);
    display: flex;
    position: sticky;
    top:0;
    width: auto;
    overflow: hidden;
    z-index:100000000;
    border-bottom: 1px solid #c9c7c7;
    gap: 1rem;
    width: 100%;
}



.logo{
    width: 15%;
    align-items: center;
    margin-left: 2.375rem;
    padding: 0.315rem;
}





.logo > img {
       height: 4.5em;
       cursor: pointer;
        margin: 0.5rem 4rem;
       
}

.menu{
    margin-left: 10rem;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    
    
}

a{
    text-decoration: none;
    color: RGBA(18, 18, 18, 0.75);
}

.menu>ul  {
list-style: none;    
display: flex;
gap: 1.375rem;
text-align: center;
margin-top: 0.72rem;
font-size: 0.80rem;
font-family: 'Inter', sans-serif;
line-height: 2rem;
cursor: pointer;

}
ul span:hover {
    text-underline-offset: 0.102rem;
     text-decoration-line: underline;    
    }


#home{
     text-decoration-line: underline;    

}
#home:hover {
    text-underline-offset: 0.102rem;
    }



.bottom-fexed {

    position: fixed;
    bottom : 0;
    z-index: 10000;
    width: 100%;
    border: 1px solid black;
    border-radius : 0.385rem;
    background-color: RGB(185, 0, 0);
    height: 8%;
    color: RGB(255, 255, 255);
    overflow:hidden;
    cursor: pointer;
    text-align: center;


}

.bottom-fexed:hover{
    outline: 1px  solid black;


}

.order-online {
    text-align: center;
    margin-top: 0.325rem;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

@media screen and (max-width: 375px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }
    .body{
        width: 100%;
        overflow-x: hidden;
    }
   
    .logo img {
        width: 80px;
        height: auto;
        margin-left: auto;
        margin-left: -20px;
    }
   
    .menu {
        display: none;
    }

   

    .navbar {
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: nowrap;
        align-content: flex-start;
        align-items: center;
        justify-content: center;
       
    }


    .bottom-fexed {

        position: fixed;
        bottom : 0;
        z-index: 2;
        width: 100%;
        border: 1px solid black;
        border-radius : 0.385rem;
        background-color: RGB(185, 0, 0);
        height: 3%;
        color: RGB(255, 255, 255);
        overflow:hidden;
        cursor: pointer;
        text-align: center;
    
    
    }
    

}

#chevron{
    font-size: 0.618rem;
}



.icons {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    align-items: center;
    cursor: pointer;
    width: 7rem;
    margin-left: 4rem;
}

.fa-regular:hover{
    font-size: 1.25rem;
}

.fa-solid:hover{
    font-size: 1.25rem;
}

  

#order-button{
    border: 1px solid red;
    border-radius: 0.7rem;
    height: 3rem;
    width: 10rem;
    background-color: #fff;
    font-size: 1rem;
    color: red;
    margin-left: 27rem;
    margin-bottom: 2rem;
    
}

#order-button:hover{
    outline: 1px solid red;
    
}

/* main */



/* sweets header container  */

.sweets-container{
    width: 90vw;
    margin: 0 auto;
    height: 6.25rem;
}


.sweets-container-child{
   width: 90vw;
}

.sub-child{
    width: 90vw;
    height: 6.25rem;
    display: flex;
    align-items: center;
}

.h1{
    margin-left: 1.25rem;
    font-size: 2.188rem;
    font-size: 40px;
}

/* h1{
    font-size: 19px;
  padding-top: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
} */


/* sweets header container end */

/* form wala  */

.second-main{
    margin: 0 auto;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
 }

 .main-filter{
    max-width: 90vw;
  display: flex;
  justify-content: flex-end;
  color: RGBA(18, 18, 18, 0.75);
  align-items: center;
 }

.sortby{
    display: flex;
    border: none;
    background: none;
}

.sort-bystart{
    margin-right: 2rem;
}

.h2{
    font-size: 15px;
}

.select{
    margin-right: 3rem;
}

.sortby:focus {
    border: 2px solid black;
}

/* form wala end */






/* left section */

.main-3{
    display: flex;
}


.left-section {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: RGBA(18, 18, 18, 0.75);
    border: none;
}

.horizontal {
    color: #ffffff;
}

.left-li {
    list-style: none;
    width: 22vw;
    border:none;
}


#accordian .left-li {
    list-style: none;
    background-color: #fff;
    padding: 15px 5px 5px 5px;
    border-bottom: 1px solid rgb(124, 122, 122);
    color: rgb(112, 111, 111);
}

#accordian li label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0%;
}

#accordian label+input[type="radio"] {
    display: none;
}

#accordian .info {
    padding: 5px 0px;
    line-height: 25px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s;
}

#accordian label+input[type="radio"]:checked+.info {
    max-height: fit-content;
}

.availibility-c-box {
    display: flex;
}

.availibility-c-box label {
    padding-left: 15px;
}

.price-buttons input {
    width: 45%;
    margin: 5% 2%;
    padding: 10px 20px;
    border: 1px solid #8f8f8f;
}


.filter-c-box {
    display: flex;
    padding-bottom: 10px;
}

.filter-c-box label {
    padding-left: 15px;
}


.left-section {
    width: 25%;
}

#accordian{
    display: flex;
  flex-direction: column;
  width: 22vw;
}

#accordian .left-li {
    list-style: none;
    background-color: #fff;
    padding: 15px 5px 5px 5px;
    border-bottom: 1px solid rgb(124, 122, 122);
    color: rgb(112, 111, 111);

    width: 20vw;
}

#accordian .left-li label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0%;
}

.info form{
    display: flex;
    flex-direction: column;
}

#accordian label+input[type="radio"] {
    display: none;
}

#accordian .info {
    padding: 5px 0px;
    line-height: 25px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s;
}

#accordian label+input[type="radio"]:checked+.info {
    max-height: fit-content;
}

.availibility-c-box {
    display: flex;
}

.availibility-c-box label {
    padding-left: 15px;
}

.price-buttons input {
    width: 45%;
    margin: 5% 2%;
    padding: 10px 20px;
    border: 1px solid #8f8f8f;
}


.filter-c-box {
    display: flex;
    padding-bottom: 10px;
}

.filter-c-box label {
    padding-left: 15px;
}


.right-section {
    width: 75%;
    padding-left: 30px;
}

.right-head {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    padding: 10px 0px 20px 0px;
}

.right-head label {
    margin-right: 30px;
}

.right-head select {
    border: none;
}

#pro11 {
    margin-left: 40px;
}

/* left section end */


/* main sweets item section */

.product-list-container-1{
    width: 70vw;
}

.product-list-container-2{
    width: 70vw;
}

.product-item-list{
    width: 70vw;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}


.product-item {
    width: 198px;
  height: 372px
}

.background-image-container{
    cursor: pointer;
}


.card-media{
    width: 10rem;
    height: 198px;
}


/*background image change */
.media-1{
    background-image: url('./assests/images/kaju-katli.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-1:hover{
    background-image: url('./assests/images/bag-1.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}


.media-2{
    background-image: url('./assests/images/motichur2.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-2:hover{
    background-image: url('./assests/images/bag-2.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.media-3{
    background-image: url('./assests/images/dhubaburfi3.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-3:hover{
    background-image: url('./assests/images/bag-3.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.media-4{
    background-image: url('./assests/images/moong-dal-4.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-4:hover{
    background-image: url('./assests/images/bag-4.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.media-5{
    background-image: url('./assests/images/milk-cake5.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-5:hover{
    background-image: url('./assests/images/bag-5.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}


.media-6{
    background-image: url('./assests/images/khoya-pista6.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-6:hover{
    background-image: url('./assests/images/bag-6.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}


.media-7{
    background-image: url('./assests/images/kaju-roll7.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-7:hover{
    background-image: url('./assests/images/bag-7.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.media-8{
    background-image: url('./assests/images/Shahi-pini8.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-8:hover{
    background-image: url('./assests/images/bag-8.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.media-9{
    background-image: url('./assests/images/karachi11.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-9:hover{
    background-image: url('./assests/images/bag-9.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}


.media-10{
    background-image: url('./assests/images/mysore-pak9.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-10:hover{
    background-image: url('./assests/images/bag-10.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.media-11{
    background-image: url('./assests/images/Sohan10.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-11:hover{
    background-image: url('./assests/images/bag-11.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.media-12{
    background-image: url('./assests/images/Khoya-keser12.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-12:hover{
    background-image: url('./assests/images/bag-12.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}


.media-13{
    background-image: url('./assests/images/jhodpur13.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-13:hover{
    background-image: url('./assests/images/bag-13.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.media-14{
    background-image: url('./assests/images/chocolate14.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 0.6s ease-in-out;
    background-repeat: no-repeat;
}

.media-14:hover{
    background-image: url('./assests/images/bag-14.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.media-15{
    background-image: url('./assests/images/khoya-burfi.webp');
    height: 198px;
    width: 198px;
    position: relative;
    background-size: contain;
    transition: all 1s ease-in-out;
    background-repeat: no-repeat;
}

.media-15:hover{
    background-image: url('./assests/images/bag-15.webp');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* image change end */




#ank{
    font-size: 14px;
}

#ank:hover{
    text-decoration: underline;
}

.bikaner{
        font-size: 11px;
        color: gray;
}

.price{
    font-size: 16px;
    margin-top: 3px;
}

.button-container{
        margin-top: 1rem;
}
button{
    width: 198px;
  height: 47px;
  border: 1.5px solid RGB(242, 43, 43);
  border-radius: 8px;
  color: RGB(242, 43, 43);
  font-size: 17px;
  background-color: RGB(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 1000000;
}

button:hover {
    border: 2px solid rgb(227, 21, 21);
}

/* *main sweets list container end */


















































/* footer start */
.footer-1{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: 0.6px;
     font-weight: 400;
  
}
.footer-1> h2{
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0.6px;
     font-weight: 400;
  
}

footer{
    width: 100%;
    height: 80vh;  
}

.footer{
    background-color: #f3f2f2;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    /* margin-top: 20px; */
    padding: 1.25rem;
    width: 100%;
    cursor: pointer;
}



.footer-1 ul{
    list-style: none;
    font-size: 13px;
}

.footer-1 ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-1 ul li:hover{
    text-decoration: underline;
}
  
.contact-details{
    margin-top: 10px;
    margin-bottom: 10px;

}

.contact-details> p{
    font-size: 14px;
    line-height: 2rem;
    
}

.contact-details a:hover{
    text-decoration: underline;
    
}


.footer-1> p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-1 .footer-logo{
    height: 80px;
    margin-left: -10px;
     
}




#footer-logo-content{
    text-align: left;
}
.social-media{
    background-color: #f3f2f2;
    text-align: center;
    padding: 50px;
    margin-top: -200px;
}
.social-media i{
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

.social-media>a{
    color: black;
}

.copyright{
    width: 100%;
    background-color: #f3f2f2;
    height: 10rem;

}

.copyright >p{
   margin-left: 3rem;
   padding-top: 2rem;
   font-size: 10px;

}

/* footer end */





@media only screen and (min-width: 320px) and (max-width: 425px)  {
    .navbar .fa-bars{
        display: initial;
        font-size: 2rem;
        margin: 30px 0 0 30px; 
        display: flex;
        justify-content: flex-start;
    }

    .filter-list-container{
        display: none;
    }

    .logo{
        width: 15%;
        align-items: center;
        margin-left: -25px;
        padding: 0.315em;
    }
    
    .logo > img {
           height: 4.5em;
           cursor: pointer;
            margin: 0.5em 4em;
    }
    

    .icons {
        display: flex;
        justify-content: space-between;
       gap: 1.25em;
        align-items: center;
        cursor: pointer;
        width: 6em;
        overflow: hidden;
        margin-left: 200px;
    }
    
    .fa-regular:hover{
        font-size: 1.25em;
    }
    
    .fa-solid:hover{
        font-size: 1.25em;
    }

    .menu {
        display: none;
    }

    .h1{
        font-size: 2rem;
    }
    .main-filter{
        width: 400px;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        margin-left: 20px;
    }
    .left-section{
        display: none;
    }
    .product-item-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50vw;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .contact-details{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-left: 5px;
    }     


    .footer-logo{
        width: 250px;
    }

    #footers{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    .social-media{
        margin-top: 5px;
    }




    .product-list-container-1{
        width: 80vw;
    }
    
    .product-list-container-2{
        width: 80vw;
    }
    
    .product-item-list{
        width: 80vw;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    
    

}

@media only screen and (min-width: 426px) and (max-width: 768px) {

    .navbar .fa-bars{
        display: initial;
        font-size: 2rem;
        margin: 30px 0 0 30px; 
    }
    .logo img{
        display: flex;
        margin-left: 170px;
        align-items: center;
    }

    .menu{
        display: none;
    }

    .icons{
        display: flex;
        justify-content: flex-end;
        margin-left: 400px;
    }
    .filter-list-container{
        margin-right: 30px;
    }

    footer{
        width: 100%;
        height: 80%;  
        overflow-x: hidden;
    }

    


    .footer-1{
        width: 80%;
        margin: 0em;
        padding: 1em;
        font-size: 16px;
        line-height: 28.8px;
        letter-spacing: 0.6px;
         font-weight: 400;
    }
    
    .contact-details{
        margin-top: 0em;
        margin-bottom: 0.625em;
    
    }
    
    .contact-details> p{
        font-size: 0.7em;
        line-height: 2em;
        
    }
    
    .sub-child{
        width: 90vw;
        height: 6.25em;
        display: flex;
        align-items: center;
    }
    
    .h1{
        margin-left: 1.25em;
        font-size: 2.188em;
        font-size: 40px;
        margin-left: 20px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .logo{
        margin-left: -5px;
    }
    .menu>ul  {
        list-style: none;    
        display: flex;
        gap: 1rem;
        text-align: center;
        margin-top: 0.72em;
        font-size: 0.80em;
        font-family: 'Inter', sans-serif;
        line-height: 2em;
        cursor: pointer;
        
    }

    .icons {
        display: flex;
        justify-content: space-between;
        gap: 1.25em;
        align-items: center;
        cursor: pointer;
        width: 7em;
        margin-left: 3em;
    }

    .h1{
        margin-left: 0em;
        font-size: 2.188em;
        font-size: 40px;
    }

    .footer{
        background-color: #f3f2f2;
        overflow-x: hidden;
        height: 100%;
        display: flex;
        /* margin-top: 20px; */
        padding: 1em;
        width: 100%;
        cursor: pointer;
    }

    .contact-details{
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    
    }
    
    .contact-details> p{
        font-size: 0.875em;
        line-height: 2em;
        
}
}